In [23]:
tokenizer.convert_tokens_to_ids(["GGGGGG"])

[4100]

In [1]:
from datasets import load_from_disk, Dataset
from transformers import AutoTokenizer
import pandas as pd

In [33]:
dataset_path = "/s/project/semi_supervised_multispecies/all_fungi_reference/fungi/Annotation/Sequences/AAA_Concatenated/pretokenized/downstream300"
dataset_path = "/s/project/semi_supervised_multispecies/all_fungi_reference/fungi/Annotation/Sequences/AAA_Concatenated/pretokenized/speciesdownstream300"
dataset_path = "../batch_embed"
#dataset_path = "../full_embed"
dataset_path = "../batch"
dataset = load_from_disk(dataset_path)

In [34]:
dataset = dataset["train"]

In [35]:
dataset[1].keys()

dict_keys(['species_name', '__index_level_0__', 'input_ids', 'token_type_ids', 'attention_mask'])

In [36]:
tokenizer = AutoTokenizer.from_pretrained("gagneurlab/SpeciesLM", revision="downstream_species_lm")
start_species_ids = tokenizer.convert_tokens_to_ids(["GGGGGG"])[0]
# add a species token column
species_col = dataset["species_name"]
species_ids = tokenizer.convert_tokens_to_ids(species_col)
species_ids = [species_id - start_species_ids for species_id in species_ids]
# delete the species token in the input_ids
for input_ids, i in enumeratedataset["input_ids"]:
    del input_ids[i][1]

dataset = dataset.add_column("species_ids", species_ids)

dataset.save_to_disk("../batch_test")

Saving the dataset (0/1 shards):   0%|          | 0/16 [00:00<?, ? examples/s]

In [29]:
test_path = "../batch_test"
test_ds = load_from_disk(test_path)
test_ds

Dataset({
    features: ['species_name', '__index_level_0__', 'input_ids', 'token_type_ids', 'attention_mask', 'species_ids'],
    num_rows: 16
})

In [41]:
dataset["input_ids"][0]

[2,
 4944,
 1240,
 849,
 3381,
 1221,
 773,
 3078,
 12,
 36,
 131,
 511,
 2032,
 4017,
 3767,
 2768,
 2867,
 3262,
 748,
 2978,
 3706,
 2523,
 1886,
 3435,
 1438,
 1643,
 2464,
 1651,
 2494,
 1772,
 2978,
 3708,
 2529,
 1910,
 3529,
 1815,
 3152,
 305,
 1208,
 724,
 2883,
 3325,
 997,
 3974,
 3596,
 2083,
 128,
 500,
 1985,
 3830,
 3018,
 3868,
 3170,
 377,
 1495,
 1869,
 3367,
 1165,
 549,
 2182,
 524,
 2084,
 131,
 509,
 2023,
 3984,
 3636,
 2241,
 760,
 3025,
 3894,
 3276,
 804,
 3204,
 513,
 2037,
 4040,
 3857,
 3127,
 206,
 810,
 3228,
 610,
 2426,
 1498,
 1884,
 3425,
 1397,
 1480,
 1809,
 3127,
 207,
 813,
 3240,
 659,
 2621,
 2278,
 905,
 3607,
 2125,
 295,
 1167,
 560,
 2226,
 699,
 2781,
 2919,
 3470,
 1579,
 2206,
 620,
 2467,
 1662,
 2537,
 1943,
 3664,
 2356,
 1220,
 770,
 3067,
 4063,
 3950,
 3498,
 1690,
 2651,
 2400,
 1394,
 1467,
 1758,
 2922,
 3481,
 1623,
 2384,
 1330,
 1210,
 732,
 2913,
 3445,
 1477,
 1798,
 3084,
 36,
 131,
 511,
 2032,
 4020,
 3777,
 2805,
 3013,
 3847,
 3087,
 47,
 175,
 685,
 2725,
 2696,
 2577,
 2103,
 207,
 813,
 3238,
 651,
 2589,
 2149,
 390,
 1545,
 2071,
 78,
 299,
 1184,
 625,
 2485,
 1734,
 2826,
 3097,
 87,
 333,
 1319,
 1168,
 563,
 2239,
 750,
 2985,
 3735,
 2638,
 2348,
 1185,
 630,
 2508,
 1825,
 3191,
 462,
 1836,
 3233,
 629,
 2502,
 1801,
 3095,
 79,
 301,
 1191,
 656,
 2609,
 2230,
 715,
 2847,
 3182,
 425,
 1685,
 2631,
 2317,
 1063,
 141,
 550,
 2187,
 543,
 2160,
 435,
 1727,
 2798,
 2986,
 3740,
 2657,
 2423,
 1487,
 1837,
 3239,
 653,
 2598,
 2187,
 543,
 2160,
 435,
 1726,
 2795,
 2975,
 3694,
 2476,
 1699,
 2685,
 2534,
 1930,
 3610,
 2139,
 349,
 1384,
 1427,
 1597,
 2277,
 902,
 3593,
 2071,
 79,
 301,
 1190,
 650,
 2588,
 2145,
 373,
 1477,
 1798,
 3084,
 33,
 118,
 457,
 1813,
 3143,
 272,
 1073,
 182,
 715,
 2847,
 3182,
 426,
 1689,
 2647,
 2383,
 1327,
 1197,
 677,
 2695,
 2573,
 2088,
 147,
 573,
 2279,
 911,
 3629,
 2214,
 651,
 2591,
 2157,
 424,
 1682,
 2618,
 2266,
 859,
 3]

In [9]:



tokenizer = AutoTokenizer.from_pretrained("gagneurlab/SpeciesLM", revision="downstream_species_lm")

# 5447 is the highest token id
start_species_ids = tokenizer.convert_tokens_to_ids(["GGGGGG"])[0]

def add_species_input(dataset):
    # add species column
    df = pd.DataFrame(dataset)
    def gen_species_list(r):
        print(r)
        species = r["species_name"]
        species_id = tokenizer.convert_tokens_to_ids([species])[0]
        species_id -= start_species_ids
        num_rows = len(r["input_ids"])
        species_id = [species_id] * num_rows
        return species_id


    df["species_id"] = df.apply(lambda r : gen_species_list(r), axis=1)
    return Dataset.from_pandas(df)

sliced = add_species_input(sliced)
#dataset["train"] = add_species_input(dataset["train"])
#dataset["test"] = add_species_input(dataset["test"])

sliced.save_to_disk("../fullds_speciesembed")

species_name                                      aspergillus_clavatus
__index_level_0__                                                    0
input_ids            [2, 4101, 1855, 3312, 946, 3770, 2778, 2908, 3...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 0, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    1
input_ids            [2, 4101, 1814, 3145, 279, 1102, 299, 1182, 61...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 1, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    2
input_ids            [2, 4101, 1248, 881, 3512, 1746, 2876, 3298, 8...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 2, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    3
input_ids            [2, 4101, 1817, 3158, 329, 1303, 1103, 303, 11...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 3, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    4
input_ids            [2, 4101, 1228, 804, 3201, 502, 1996, 3874, 31...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 4, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    5
input_ids            [2, 4101, 1805, 3110, 140, 545, 2168, 465, 184...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 5, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    6
input_ids            [2, 4101, 1280, 1011, 4030, 3820, 2978, 3707, ...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 6, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    7
input_ids            [2, 4101, 1807, 3120, 177, 693, 2758, 2827, 31...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 7, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    8
input_ids            [2, 4101, 1847, 3279, 813, 3239, 653, 2598, 21...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 8, dtype: object
species_name                                      aspergillus_clavatus
__index_level_0__                                                    9
input_ids            [2, 4101, 1278, 1003, 3998, 3690, 2458, 1626, ...
token_type_ids       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
Name: 9, dtype: object

Saving the dataset (0/1 shards):   0%|          | 0/10 [00:00<?, ? examples/s]

In [65]:
type(dataset)

datasets.arrow_dataset.Dataset